*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
  
    width: 100%;
    height: 90vh;
    background-color:#3b5d50;
}

.imgg{
    background-image:  url(../img/dots-light\ \(2\).svg);
   
    background-repeat: no-repeat;
  background-position-x:80vh ;
  background-position-y: 5vh;

}



.material {
    padding: 7rem 0;
    background-color: rgba(0, 0, 0, .05);
}

.material .prod-cont {
    color: #2f2f2f;
    margin-top: 60px;
}

.material .prod-cont .prod-btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
    text-decoration: none;
}

.material .prod-cont .prod-btn:hover {
    background-color: black;
}

.material .prod {
    position: relative;
}

.material .prod a {
    text-align: center;
    text-decoration: none;

}

.material .prod .prod-img {
    max-width: 100%;
    margin-bottom: 30px;
    transition: transform .5s ease;
}

.material .prod:hover .prod-img {
    transform: translateY(-14%);
}

.material .prod h3 {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 600;
}

.material .prod p {
    color: #2f2f2f;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

.material .prod .prod-iteam::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dce5e4;
    height: 0%;
    width: 90%;
    z-index: -1;
    border-radius: 10px;
    transition: all .3s ease;
}

.material .prod:hover .prod-iteam::before {
    height: 70%;
}

.material .prod .prod-iteam span {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: relative;
    top: 20px;
    transition: all .7s;
}

.material .prod:hover .prod-iteam span {
    opacity: 1;
    transform: translateY(-50%);
}

.material .prod .prod-iteam span img {
    background-color: #2f2f2f;
    border-radius: 50%;
    padding: 5px;
}

.help {
    background-color: #eff2f1;
    padding-top: 200px;
    height: 140vh;
}
.help .container{
    height: 100vh;
}

.help .help-images {
    position: relative;
    height: 80vh;
}

.help  img {
    max-width: 100%;
    border-radius: 20px;
}

.help .img1 {
    width: 500px;
    position: relative;
    z-index: 2;
}

.help .img2 {
    width: 220px;
   position: relative;
    top: 0px;
    left: 0px;

}

.help .img3 {
    width: 400px;
   position: relative;
    bottom: 285px;
    left: 175px;
    z-index: 2;
}

.help .help-layer {
    position: relative;
    width: 255px;
    height: 217px;
    bottom:660px;
    left: -90px;
}


.help .help-cont p {
    color: #6a6a6a;
    margin-bottom: 30px;
    font-size: 14px;
}

.help .help-cont ul {
    margin-bottom: 50px;
}

.help .help-cont ul li {
    font-size: 14px;
    color: #6a6a6a;
    list-style: none;
    position: relative;
}

.help .help-cont ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
    border: 2px solid #3b5d50;
}

.help .help-cont a {
    background-color: #2f2f2f;
    border: #2f2f2f;
    color: #ffffff;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 600;
    text-decoration: none;
}

.help .help-cont a:hover {
    background-color: black;
}


.chaild1 img{
    width: 500px;
}
.parent{
    padding:150px;
   
    justify-content:space-between;
    display: flex;
}
.choose-us{
   
   align-items: flex-end;
}
.choose-us .us1{

    justify-content: space-between;
    padding-top: 50px;
    display: flex;
}
.choose-us .us2{
    justify-content: space-between;
    padding-top: 50px;
    display: flex;
}
.us1 .fhoto{
    width: 30px;
    height: 5vh;
    background-color:  #3b5d50;
    border-radius: 50%;
}
.us2 .fhoto{
    width: 30px;
    height: 5vh;
    background-color:  #3b5d50;
    border-radius: 50%;
}
.parent {
    background-image:  url(../img/dots-yellow.svg);
   
    background-repeat: no-repeat;
  background-position-x:110vh ;
  background-position-y:15vh; 

}
.par {
    padding: 20px;
    justify-content: space-around;
    display: flex;
}
.par1 {
    
    display: flex;
}
 .par1 .parimg img{
    width: 120px;
   margin-right: 20px;
}
.par1 .parimg{
    background-color:gray;
    border-radius: 10%;
   
    width: 100px;
    height: 15vh;
}
.par1 .data{
    margin-left: 20px;
}
.par1 .data a{
    color: #6a6a6a;
    
}

.startinfo{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.startinfo a{
    color: #6a6a6a ;
}
.postpar{

 width: 33.33%;

  justify-content: space-around;
    display: flex;

}
.postpar .post{
    justify-content: space-around;
    width: 70%;
}
.split{
    padding-top:250px ;
}
.split .spl-btn{
background-color: #3b5d50;
border-radius: 50%;
width: 55px;
height: 8vh;
}
.split .split-btn{
    width: 5px;
    height: 1vh;
    color:  #d3f0e5;
    border-radius: 50%;
    background-color:  #3b5d50;
}

.split .split-cont {
    margin-top: 10px;

}
.split .split-cont  p{
    padding-top:20px ;
    margin-bottom: 60px;
}

.split-autohr img{
    width: 80px;
    border-radius: 50%;
}










.ourBaking{
    margin-top: 50px;
 }
 
 .ourBaking .container{
     width: 90%;
     margin: auto;
     text-align: center;
 }
 
 
 
 .ourBaking .container .items .item{
     /* width: 33.3333%; */
     width: calc(100% / 3);
     /* display: inline-block; */
     float: left;
     padding: 0px 15px ;
 }
 
 .ourBaking .container .items .item img{
     width: 100%;
     border-radius: 15px;
 }
 
 .clr{
     clear: both;
 }
 
 .items .item .img-content{
     position: relative;
 }
 
 .items .item .img-content .layer{
     width: 100%;
     height: 85%;
     background-color: rgba(130, 122, 122, 0.4);
     position: absolute;
     top: 0px;
     left: 0px;
     border-radius: 15px;
     opacity:0 ;
 
 }
 
 .items .item .img-content:hover .layer{
     opacity: 1;
 }
 
 .layer p{
     color: white;
     text-align: center;
     position: relative;
     top: 40%;
 }
.jj{
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
}
 .your-info{
   padding-top: 250px;
    /* display: flex; */
 }
 .your-info .namet{
    display: flex;
 }
 .your-info .namet i{
   margin-top:7px ;
   font-size: 20px;
  margin-left: 5px;
   
 }
 .jj img{
    width: 500px;

    /* padding-bottom: 50px; */
 }
 .us{
    display: flex;
    justify-content: space-evenly;
 }
 .contact-us a {
    text-align: center; 
   font-size: 16px;
   color: #e4dede;
 }
 .contact-us a i{
    padding-top: 10px; 
    border-radius: 50%;
    width: 40px;
    height: 5vh;
 background-color: #3b5d50;
 
 }

.contact-info a{
    text-decoration: none;
    color: #6a6a6a;
 }
 .last{
    margin:80px ;
    display: flex;
    justify-content: space-around;
 }
 .last a{
    text-decoration: none;
    color: #6a6a6a;
 }
 .kk h1{
    color: #3b5d50;
    margin-left:100px;
 }